body {
  padding-top: 0;
  margin: 0;
  height: 100%;
}

.container-fluid .row {
  height: 100%;
}

.sidebar {
  background-color: #4c6ef5;
  padding: 1.25rem 0;
  color: white;
  min-height: 100vh;
}

.top-bar {
  background-color: #4c6ef5 !important;
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  padding-top: 5px;
  z-index: 10000;
 overflow: unset !important;
}

h4{
  margin:1rem;
}


/* Apply similar styles to top-bar buttons */
.top-bar-button{
  float: left !important;
  color: white !important; /* Match text color */
  background-color: #4c6ef5; /* Match sidebar button background color */
  padding: 0.3125rem 1.25rem; /* Adjust padding to match sidebar */
  margin-right: 1.25rem; /* Provide some margin around the buttons */
  border-radius: 0.625rem; /* Match the border-radius for rounded corners */
  text-decoration: none; /* Remove underline from links */
  display: inline-block; /* Needed to apply padding and margin correctly */
}

.top-bar-button:hover{
  background-color: #6579f5; /* Slightly lighter color on hover, similar to sidebar behavior */
  text-decoration: none; /* Ensure no underline on hover */
}

.fa-bars {
  color: white;
  font-size: 20px !important;
}

.sidebar .nav-link {
  color: white;
  margin: 0.625rem 0.9375rem;
  border-radius: 0.625rem;
}

.sidebar .nav-link:hover {
  background-color: #6579f5;
}

.active {
  background-color: #3748b5;
}

.container {
  margin-top: 5rem;
}

.sidebar-header {
  text-align: center;
  padding-bottom: 0.9375rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: #ffffff !important;
}

.sidebar img {
  border-radius: 50%;
  margin-bottom: 0.9375rem;
}

.nav-item {
  text-align: center;
}

.sidebar .nav {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.sidebar-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 0.625rem 0;
  background-color: #4c6ef5;
}

.main-content {
  background-color: white;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 0;
}

.d-none {
  display: none; /* Hide the file input */
}

@media (min-width: 768px) {
  .top-bar-item {
    display: none !important;
  }
}

@media (max-width: 767px) {
  body {
    padding-top: 40px;
  }

  .sidebar.active {
    display: block !important; /* Show the sidebar */
    position: fixed; /* Position fixed to stay in place during scroll */
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full screen height */
    overflow-y: auto; /* Enable scrolling */
    background-color: #4c6ef5; /* Sidebar background color */
    z-index: 1001; /* Ensure it's above other content */
    padding-top: 40px; /* Adjust based on your top bar height */
  }

  .top-bar-item {
    display: flex !important;
  }

  .sidebar {
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0);
    z-index: 1001;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
  }
}
